<% provide(:title, t(:edit_review))%>
<% provide(:type_btn, t(:update_review))%>

<div class="row justify-content-center">
  <div class="col-6">
    <h1><%= t(:edit_review) %></h1>
    <%= render "form", type: 1 %>
  </div>
</div>